html,body{
    height: 100% ;
    margin: 0;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
    scroll-snap-type: y mandatory;
    overflow-y: scroll hidden;
    height: 100vh;
}



.pimg1{
    background-image: url(../image/intromanali.jpg);
    height: 100%;
    width: 100%;
    position: relative;
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
        scroll-snap-align: start ;

}
.pimg1bg{
    background-image: url(../image/intromanali.jpg);
    height: 100%;
    width: 100%;
    position: relative;
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
    opacity: .8;
    /* height: 100vh; */
    /* display: flex; */
    scroll-snap-align: start ;
}

.pimg2{
    background-image: url(../image/rohtang_pass.jpg);
    height: 100%;
    width: 100%;
    position: relative;
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    scroll-snap-align: start ;
}
.pimg2bg{
    background-image: url(../image/rohtang_pass.jpg);
    height: 100%;
    width: 100%;
    position: relative;
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
    opacity: .8;
    scroll-snap-align: start ;

}

.pimg3{
    background-image: url(../image/river_beas.jpg);
    height: 100%;
    width: 100%;
    position: relative;
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
    scroll-snap-align: start ;

}
.pimg3bg{
    background-image: url(../image/river_beas.jpg);
    height: 100%;
    width: 100%;
    position: relative;
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
    opacity: .8;    
    scroll-snap-align: start ;

}


.pimg4{
    background-image: url(../image/hadimba_temple.jpg);
    height: 100%;
    width: 100%;
    position: relative;
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
    scroll-snap-align: start ;

}

.pimg4bg{
    
        background-image: url(../image/hadimba_temple.jpg);
        height: 100%;
        width: 100%;
        position: relative;
        background-position: center center;
        background-size:cover;
        background-repeat: no-repeat;
        opacity: .8;
        scroll-snap-align: start ;

    
}


.pimg5{
    background-image: url(../image/solang_valley.jpg);
    height: 100%;
    width: 100%;
    position: relative;
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
    scroll-snap-align: start ;

}
.pimg5bg{
    background-image: url(../image/solang_valley.jpg);
    height: 100%;
    width: 100%;
    position: relative;
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
    opacity: .8;
    scroll-snap-align: start  ;

}

.ptext{
    position: absolute;
    top: 50%;
    width:100%;
    text-align: center;
    font-size: 27px;
    letter-spacing: 5px;
    text-transform: uppercase;
    opacity: .6; 
}
.infoptext{
    background-color: #666;
    opacity: .8;
    margin-top: 10%;
    margin-left: 5%;
    top: 50%;
    width:90%;
    text-align: center;
    font-weight:500;
    padding: 20px;
    

}



.infotextbg{
    color:rgb(255, 255, 255);
    padding: 20px;
    opacity: none;

    /* opacity: .6; */

}


.textbg{
    background: #666;
    color:azure;
    padding: 20px;
}

.section{
    padding: 50px 80px;
    text-align: center;
}

/* .section-light{
    background: azure;
    color:rgb(31, 63, 63);
    width: auto; 
}
 */
.info-section-light{
    color:#666;
    width: auto; 
}

.pimg1,.pimg2,.pimg3,.pimg4,.pimg5{
    background-attachment: fixed;
}

.title{
    padding-top:  200px ;
    padding-bottom: 200px;
    padding-left: 200px;
    padding-right: 200px;

}



/* navbar code paste */

.navbar-brand{
    font-family: 'Lobster', cursive;
    font-size: 1.5rem !important;
    /* font-weight: bold; */
    line-height: 1;
    padding-left: 7%;
    
}


.fa-mountain{
    padding-right: 10px;
    font-size: 3rem;
}


.navbar{
    padding-bottom: 1.5rem !important;
    padding-top: 1rem !important;
    /* position: absolute; */
}
.nav-item{
    font-size: medium;
    padding-left: 18px;
    padding-right: 18px;

}

#title{
    background-color: #666;
    color: azure;
    scroll-snap-align: start ;

}


/* footer */
.bottom-container{
    background-color: #666;
    margin: 0;
    margin-bottom: -20px;
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
    scroll-snap-align: end ;


}
.footer{
    color: #FFFFFF;
    font-size: small;
    margin-top: 30px;
 }

 .footer-link{
    color: azure;
    font-family: 'Roboto', sans-serif;
    margin: auto 30px;
    text-decoration: none;
 }

 a:hover{
    color: #262626;
 }

 @media (min-width:320px)  
 { body{
    font-size: 10px !important;
 } 
.ptext{
    font-size:  18px !important;
}
.infoptext{
    padding: 10px !important;
}
}

@media (min-width:480px)
{ body{
    font-size: 10px !important;
 } 
.ptext{
    font-size:  18px !important; 
}
.infoptext{
    padding: 10px !important;
}
}
